In [1]:
print("hello")

hello

In [4]:
import pyspark as spark

In [5]:
%%file data.csv
id,name
1,ali
2,umar
3,hamza

Overwriting data.csv

In [7]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("myapp").getOrCreate()

23/12/28 16:52:58 WARN Utils: Your hostname, codespaces-e68814 resolves to a loopback address: 127.0.0.1; using 172.16.5.4 instead (on interface eth0)
23/12/28 16:52:58 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/12/28 16:52:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [8]:
spark

In [12]:
df = spark.read.csv("data.csv",header=True)
df.show()

+---+-----+
| id| name|
+---+-----+
|  1|  ali|
|  2| umar|
|  3|hamza|
+---+-----+

In [14]:
df.select("id").show()

+---+
| id|
+---+
|  1|
|  2|
|  3|
+---+

In [17]:
df.select("id").where(df.id==2).show()

+---+
| id|
+---+
|  2|
+---+

In [18]:
df.select("id").where(df.id==2).show(truncate=False)

+---+
|id |
+---+
|2  |
+---+

In [19]:
df.select("id").where(~(df.id==2)).show(truncate=False)

+---+
|id |
+---+
|1  |
|3  |
+---+

In [20]:
df.filter("id==2").show()

+---+----+
| id|name|
+---+----+
|  2|umar|
+---+----+

In [21]:
df.filter("id!=2").show()

+---+-----+
| id| name|
+---+-----+
|  1|  ali|
|  3|hamza|
+---+-----+

In [22]:
df.show()

+---+-----+
| id| name|
+---+-----+
|  1|  ali|
|  2| umar|
|  3|hamza|
+---+-----+

In [23]:
df.columns

['id', 'name']